<body>
  <div class="title"></div>
  <h1 class="text-center">Contact</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem veniam dolor, rem animi eligendi est magni, tenetur, incidunt praesentium tempore pariatur fuga. Inventore, vero quia cum odio in modi saepe.
  Ullam maxime perspiciatis impedit tempora. Aut sed alias illo. Dolores atque eius repudiandae tempore repellendus ducimus! Sed maiores fugit doloremque accusamus deleniti doloribus excepturi, facere odit sint nulla, quas non?
  Natus voluptatem delectus laboriosam nostrum ipsum, dolores qui culpa, mollitia molestiae reprehenderit necessitatibus, quisquam autem? Omnis libero veritatis provident minus iste neque atque fugiat tempora, quibusdam ea reprehenderit nihil. Incidunt.
  Quaerat distinctio accusamus fugiat aperiam soluta eos. Repudiandae ipsa ullam illum doloremque quidem voluptates tenetur nihil nulla quae velit facilis dolore maxime, at beatae natus. Optio asperiores aliquam iste tempora?
  Voluptatum quidem recusandae placeat cumque, ducimus ipsam possimus error facilis aliquam fuga pariatur atque odio? Qui ipsum doloribus consequuntur porro, labore aspernatur accusantium libero commodi magni sequi, assumenda, rem unde?</p>

</body>
